<!DOCTYPE html>
<html>
  <head>
    <title>Einkaufen bei REWE - kassenQR</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css.css">
  </head>
  <body>
	<div class="wrapper_header">
		<a href="/kassenQR/pages/UXD/">Zurück</a>
		
	</div>
	<div class="wrapper_search">
		<h1>REWE</h1>
		<div class="search"> Suchen</div>
	</div>
	  
	  
	<div class="wrapper">
		
		
		
		<a href="#">
			<div class="box">PRODUCT ID<p>PRICE ID</p></div>
		</a>
	
		
		
	</div>
<p></p>

</body>
</html>
