<!DOCTYPE html>
<html>
  <head>
    <title>Einkaufen bei REWE - kassenQR</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css.css">
  </head>
  <body>
	<div class="wrapper_header">
		<a href="/kassenQR/pages/UXD/">Zurück</a>
		
	</div>
	<div class="wrapper_search">
		<h1>REWE</h1>
		<div class="search"> Suchen</div>
	</div>
	<div class="wrapper">
		<a href="#">
			<div class="box">Spaghetti alle Vongole 800 g [Dose]<p>34,40$</p></div>
		</a>
		<a href="#">
			<div class="box">Mango Chili Hühnchen mit Basmatireis<p>59,40$</p></div>
		</a>
		<a href="#">
			<div class="box">Jägerschnitzel mit Champignon-Sahnesauce und Kartoffeln<p>339,40$</p></div>
		</a>
		<a href="#">
			<div class="box">Hühnerfrikasse mit Gemüse und Reis<p>969,40$</p></div>
		</a>
		<a href="#">
			<div class="box">Fritten Bob<p>99,40$</p></div>
		</a>
		<a href="#">
			<div class="box">Spaghetti Bolognese mit Tomaten Hackfleisch Sauce<p>199,40$</p></div>
		</a>
		<a href="#">
			<div class="box">Pepsi Cola<p>9009,40$</p></div>
		</a>

	</div>
<p></p>

</body>
</html>
